env
.env
.venv/

doc

# misp
*/misp/files
*/misp/logs
*/misp/ssl
*/misp/server-configs

# waf
*/waf-honeypots/logs
*/waf-honeypots/honeypot_logs

.DS_Store
__pycache__

src_dep/*
logs

*.pem

coraza.log
cover.*
*.cov